ol {
    background-color: aqua;
    color: blue;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif
}

ul::selection {
    background-color: chartreuse;
}

.inside_class {
    border-color: brown;
}

input[type="password"] {
    background-color: red;
}

#Titulo_Materias {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}